.site-header, .site-footer {
    background-color: #D9853B;
}
.site-header {
    position: fixed;
    width: 100%;
}
.site-footer {
    position: fixed;
    border-top: 0px solid black;
    height: 60px;
    padding: 10px 0;
    clear: both;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
}
.site-header a:link {
    color: #222222; 
    text-decoration: none;
}
.site-header a:visited {
    color: #222222;
    text-decoration: none;
}
.site-header a:hover {
    text-decoration: underline;
}
.site-footer p, .site-footer li {
   color: #222222; 
}
.site-footer a:link {
    color: #222222;
    text-decoration: none;
}
.site-footer a:visited {
    color: #222222;
    text-decoration: none;
}
.site-footer a:hover {
    text-decoration: underline;
}
.site-title {
    font-size: 36px;
}
.footer-col-1 {
    width: calc(20% - (30px / 2));
}
.footer-col-2 {
    width: 0px;
}
.footer-col-3 {
    width: calc(70% - (30px / 2));
    font-size: 12px;
}


a:link {
    text-decoration: underline;
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: underline;
}
.post-list a:link {
    text-decoration: none;
    color: black;
}
.post-list a:visited {
    color: black;
}
.post-list a:hover {
    text-decoration: underline;
}
p, blockquote, pre, hr, dl, dd, ol, ul, figure, .highlight {
    max-width: 600px;
}
.post-list {
    width: 100%;
    max-width: 100%;
}
.post-list > li {
    margin-bottom: 20px;
}
.post-link {
    font-size: 18px;
    color: black;
    line-height: 1px;
    display: inline;
}
body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.page-content {
    padding: 100px 0;
    background-color: #fffff8;
}
.wrapper {
    max-width: 80%;
}
.subscription-list {
    font-size: 12px;
}
.gist {
    max-width: 600px;
    font-size: 12px;
}
.post-content a:link {
    text-decoration: none;
    font-style: bold;
    font-size: 17px;
}
.post-content a:visited {
    color: #222222;
    text-decoration: none;
    font-style: bold;
    font-size: 17px;
}
.post-content a:hover {
    text-decoration: none;
    font-style: bold;
}
