a:visited {
    color: grey;
}
.post-list > li {
    margin-bottom: 15px;
}
.post-link {
    font-size: 18px;
    color: black;
    line-height: 1px;
    display: inline;
}
body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.site-header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.page-content {
    padding: 100px 0;
}

.footer-col-1 {
    width: calc(20% - (30px / 2));
}
.footer-col-2 {
    width: 0px;
}
.footer-col-3 {
    width: calc(70% - (30px / 2));
}

.wrapper {
    max-width: 80%;
}

.site-footer {
    position: fixed;
    border-top: 1px solid black;
    height: 40px;
    padding: 10px 0;
    clear: both;
    bottom: 0;
    background-color: white;
}

p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    max-width: 70%;
}
