.footer-background {
    position: fixed;
    border-top: 0px solid black;
    height: 60px;
    padding: 10px 0;
    clear: both;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
    background-color: white;
    z-index: 5;
}
.header-background {
    position: fixed;
    width: 100%;
    min-height: 56px;
    background-color: white;
    z-index: 5;
}
.site-header, .site-footer {
    background-color: rgba(0,0,0,0.6);
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    z-index: 10;
}
.site-header {
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 2px #888888;
    max-height: 56px;
}
.site-footer {
    position: fixed;
    border-top: 0px solid black;
    height: 60px;
    padding: 10px 0;
    clear: both;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
    max-height: 80px;
}
.site-header a:link {
    color: white;
    text-decoration: none;
}
.site-header a:visited {
    color: white;
    text-decoration: none;
}
.site-header a:hover {
    text-decoration: underline;
}
.site-footer p, .site-footer li {
   color: white;
}
.site-footer a:link {
    color: white;
    text-decoration: none;
}
.site-footer a:visited {
    color: white;
    text-decoration: none;
}
.site-footer a:hover {
    text-decoration: underline;
}
.site-title {
    font-size: 36px;
}
.footer-col-1 {
    width: calc(20% - (30px / 2));
}
.footer-col-2 {
    width: 0px;
}
.footer-col-3 {
    width: calc(70% - (30px / 2));
    font-size: 12px;
}


a:link {
    text-decoration: underline;
    color: #585858;
}
a:visited {
    color: #585858;
}
a:hover {
    text-decoration: underline;
}
.post-list a:link {
    text-decoration: none;
    color: black;
}
.post-list a:visited {
    color: black;
}
.post-list a:hover {
    text-decoration: underline;
}
.post-content {
    max-width: 80%;
}
.post-list {
    width: 100%;
    max-width: 100%;
}
.post-list > li {
    margin-bottom: 20px;
}
.post-link {
    font-size: 18px;
    color: black;
    line-height: 1px;
    display: inline;
}
body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.page-content {
    background-color: white;
    position: absolute;
    top: 56px;
    z-index: -1;
    min-width: 100%;
    margin-bottom: 56px;
}
.wrapper {
    max-width: 60%;
}
.subscription-list {
    font-size: 12px;
}
.gist {
    max-width: 99%;
    font-size: 12px;
}
.post-content a:link {
    text-decoration: none;
    font-weight: bold;
    color: #585858;
}
.post-content a:visited {
    color: #585858;
    text-decoration: none;
    font-weight: bold;
}
.post-content a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #585858;
}
.post-meta a:link {
    text-decoration: none;
    color: #585858;
}
.post-meta a:visited {
    color: #585858;
    text-decoration: none;
}
.post-meta a:hover {
    text-decoration: none;
    color: #585858;
}
#swheeler, #pmeinshausen {
    padding-top: 56px;
}
<<<<<<< HEAD
.site-nav .page-link{
    color: white !important;
    text-decoration: none !important;
}
@media (max-width: 600px) {
    .site-nav .page-link {
        color: black !important;
        text-decoration: none !important;
    }
}
@media screen and (max-width: 900px) {
    .wrapper {
        max-width: 90%;
    }
}
@media screen and (max-width: 610px) {
    .site-nav { 
        position: absolute; 
        top: 9px; 
        right: 30px; 
        background-color: black; 
        border: 0px solid transparent; 
        border-radius: 5px; 
        text-align: right; 
    }
  .site-nav .menu-icon { 
      display: block; 
      float: right; 
      width: 36px; 
      height: 26px; 
      line-height: 0; 
      padding-top: 10px; 
      text-align: center; 
  }
  .site-nav .menu-icon > svg { 
      width: 18px; 
      height: 15px; 
  }
  .site-nav .menu-icon > svg path { 
      fill: white; 
  }
  .site-nav .trigger { 
      clear: both; 
      display: none; 
  }
  .site-nav:hover .trigger { 
      display: block; 
      padding-bottom: 5px; 
  }
  .site-nav .page-link { 
      display: block; 
      padding: 5px 10px; 
  }
    .footer-col-1 {
        width: 100%;
    }    
    .footer-col-3 {
        display: none;
    }  
    .site-footer {
        height: 30px;
    }
    .site-title {
       font-size: 32px;
    }
    .post-title {
       max-width: 75%;
    }
    
    .post-content {
        max-width: 55%;
    }
    .gist {
        max-width: 99%;
    }
}
