---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts limit: 15 %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</span>
          {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
</div>

<div class="infinite-spinner"></div>
