---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }} • <a href="http://housesofstones.github.io/authors/#{{ page.author }}">{{ author.display_name }}</a></p>
  </header>

  <article class="post-content">
    {{ content }}
    <hr>
    <p style="font-size:12px;"><em>If you have a comment about this post, please write it up somewhere public and let us know so we can join in the conversation.
      If you have a question, please email the author at {{ author.email }}.</em></p>
  </article>

</div>
